<h3>Welcome</h3>

<p class="btn-group">
  <a href="/works/available_types" class="btn btn-primary btn-lg btn-block">Create a Work</a>
  <a href="/admin" class="btn btn-warning btn-lg btn-block">Administer Work Types</a>
</p>
